/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Playfair+Display&display=swap');

/* General UI */
html, body {
    margin: 0; padding: 0; height: 100%; overflow: hidden;
}

#infinite-canvas {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.canvas-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100000px;
    height: 100000px;
    transform-origin: 0 0;
    background-image:
        linear-gradient(#ddd 1px, transparent 1px),
        linear-gradient(90deg, #ddd 1px, transparent 1px);
    background-size: 40px 40px;
}

#footer-panel {
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
}

#header-panel {
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
}

#left-panel {
    background-color: black;
    position: fixed;
    top: 40px;
    bottom: 60px;
    left: 0;
    width: 240px;
    overflow-y: auto;
    font-size: 11px;
}

#right-panel {
    background-color: black;
    position: fixed;
    top: 40px;
    bottom: 60px;
    right: 0;
    width: 200px;
    color: white;
    overflow-y: auto;
}

.breakpoint {
    position: absolute;
    top: 50000px;
    left: 50000px;
    width: 640px;
    height: 800px;
    background-color: rgb(220,220,220);
}

/* Style Controls */

.coh-style-control {
    margin: 0.5rem 0;
}

.coh-style-control__label {
    display: block;
    font-size: 11px;
    font-family: sans-serif;
    margin-bottom: 2px;
    line-height: 11px;
    color: rgb(150,150,150);
}

.coh-style-control__input {
    background-color: rgb(40, 40, 40);
    padding: 2px;
    font-size: 11px;
    width: 100%;
    outline: none;
}

.coh-side-panel {
    color: rgb(220, 220, 220);
    padding: 0.5rem;
    
}

/* Panel Section */
.coh-panel-section {
    cursor: pointer; 
    font-weight: 500; 
    margin-bottom: 0.5rem;
    font-size: 11px;
}
